*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
/library/.externalNativeBuild
/library/build
/app/build
/.idea/caches/build_file_checksums.ser
/library/build/outputs/logs
/.idea/misc.xml
/.idea/codeStyles/Project.xml